.autorizacion {
    margin: 10px auto;
    /*border: 1px solid #999;*/
    background-repeat: no-repeat;
    background:url('../images/fondonuves.png');
    background-size: cover;
    height: 100%;
    width: 100%;
}
.titulo {
    margin: auto 100px;
}
.titulo img {
    margin-top: 20px;
    margin-bottom: 10px;
}
.requisitos {
    margin-top: 10px;
    background-repeat: no-repeat;
    background:url('../images/hoja.png');
    background-size: cover;
    height: 93%;
    width: 100%;
    font-weight: bold;
    color: #1d1c1c;
    box-shadow: 5px 4px 10px 2px #8fb3b9;
    -webkit-transform: rotate(-2deg);
    -moz-transform: rotate(-2deg);
    -o-transform: rotate(-2deg);
    transform: rotate(-2deg);
}
.requisitos .lista {
    font-weight: bold;
    color: #464444;
}
.requisitos .listRequi {
    padding-top: 33px;
}
.requisitos .nota {
    font-size: 14px;
    background-color: rgb(132 255 255 / 43%);
    padding: 5px 10px;
    margin-left: 15px;
    margin-right: 15px;
    /*margin-top: 0px;*/
    margin-top: -5px;
    margin-bottom: 10px;
}
.autorizacion ul{
    list-style-type: decimal;
    font-size: 13px;
}
.autorizacion .infNacionales {
    margin-bottom: 10px;
}
.autorizacion .aeropuerto {
    margin-top: 16px;
    margin-bottom: 16px;
}
.autorizacion .infTerminalBuses {
    background-color: #cfe6dd;
    color: #176f7f;
    /*filter: drop-shadow(5px 5px 5px #999);*/
    box-shadow: 3px 4px 5px 1px #8fb3b9;
    border: 1px solid #8fb3b9;
    border-top: none;
    border-left: none;
    padding: 3px 10px;
    width: fit-content;
}
.autorizacion .infAeropuerto {
    padding-left: 60px;
    filter: drop-shadow(0px 0px 0px);
}
.autorizacion .aeropuerto .textoAeropuerto {
    background-color: #cfe6dd;
    color: #176f7f;
    box-shadow: 3px 4px 5px 1px #8fb3b9;
    border: 1px solid #8fb3b9;
    border-top: none;
    border-left: none;
    padding: 3px 10px;
    width: fit-content;
    padding-left: 45px;
}
.autorizacion .aeropuerto .imagenSuperpuesta {
    position: absolute;
    text-align: left;
    right: 10px;
    top: -10px;
    width: 100%;
    z-index: -1;
}
.autorizacion .aeropuerto .imagenSuperpuesta img {
    width: auto;
    height: 65px;
}
.autorizacion .imagenSuperpuesta {
    position: absolute;
    text-align: right;
    right: -48px;
    top: -27px;
    width: 100%;
    z-index: -1;
}
.autorizacion .imagenSuperpuesta img {
    width: auto;
    height: 65px;
}
.autorizacion .infFormulario {
    filter: drop-shadow(0px 0px 0px);
}
.autorizacion .infFormulario .imagenSuperpuesta {
    position: absolute;
    text-align: right;
    right: -90px;
    top: -240px;
    width: 100%;
    z-index: -1;
}
.autorizacion .infFormulario .imagenSuperpuesta img{
    width: auto;
    height: 350px;
}
.contendorImg {
    filter: drop-shadow(0px 0px 0px);
    width: max-content;
}
@media (max-width: 1150px) {
    .requisitos .listRequi {
        padding-top: 43px;
    }
}
@media (max-width: 864px) {
    .titulo {
        margin: 0px;
    }
}
@media (max-width: 767px) {
    .autorizacion .imagenSuperpuesta {
        top: -3px;
    }
    .autorizacion .infFormulario .imagenSuperpuesta {
        position: absolute;
        text-align: right;
        right: -70px;
        top: -200px;
        width: 100%;
        z-index: -1;
    }
    .autorizacion .infFormulario .imagenSuperpuesta img {
        width: auto;
        height: 250px;
    }
}
