.quehacerInfo{
    padding-top: 15px;
}
.contenedorDonde {
    padding: 23px 10px;
}
.contenedorDonde img {
    height: 330px;
    width: auto;
}
.contenedorDNA {
    padding: 87px 10px;
}
.containerRecuerda{
    padding: 10px;
}

.numeracion {
    border: 1px solid #c1c4c2;
    border-radius: 20px;
    width: 40px;
    height: 40px;
    background-color: #fff;
    margin: 3px auto;
}
.numeracion .text1 {
    color: #c2185b;
    vertical-align: middle;
    margin-bottom: 0px;
    margin-top: 3px;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}
.numeracion .text5 {
    color: #f06292;
    vertical-align: middle;
    margin-bottom: 0px;
    margin-top: 3px;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}
.numeracion .text4 {
    color: #03a9f4;
    vertical-align: middle;
    margin-bottom: 0px;
    margin-top: 3px;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}
.numeracion .text2 {
    color: #f9a825;
    vertical-align: middle;
    margin-bottom: 0px;
    margin-top: 3px;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}
.numeracion .text3 {
    color: #4caf50;
    vertical-align: middle;
    margin-bottom: 0px;
    margin-top: 3px;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}
/* AREAS */
.lineaGratuita {
    margin: auto 200px;
}
@media (max-width: 1150px){
    .contenedorDNA {
        padding: 10px 10px;
    }
}
@media only screen and (max-width: 995px) {
    .lineaGratuita {
        margin: auto 20px;
    }
}
@media (max-width: 539px) {
    .containerRecuerda img{
        height: 200px;
        width: auto;
    }
}